<title>Bockra</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/newsty.css') }}">
</head>

<header>
  <a href="/"><h1>Bockra</h1></a>
  <h3>Sentiment analysis of users, search-terms, and tweets from twitter using machine learning.</h3>
</header>
<!--<section>
  <div class="column green"><img src="https://images.pexels.com/photos/60883/girl-eyes-makeup-sexy-60883.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"/></div>
  <div class="column red-purple"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/girl-eyes-makeup-sexy-60883.jpeg"/></div>
</section>
<section>
  <div class="column vintage"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo.jpg"/></div>
  <div class="column retro"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo-194074.jpg"/></div>
  <div class="column blue-light"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo-207081.jpeg"/></div>

  <div class="column blue"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-157675.jpeg"/></div>

  <div class="column dark-red"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo-432059.jpeg"/></div>
  <div class="column flat-retro"><img src="https://images.pexels.com/photos/167483/pexels-photo-167483.jpeg?h=350&auto=compress"/></div>
</section> -->





<!-- <section>
  <div class="column teal"><img src="img/1.jpg"><div class="centered"><a href="u">User Sentiment</div></a></img></div>
  <div class="column purple"><img src="img/5.jpg"><div class="centered"><a href="t">Search-term Sentiment</div></a></img></div>
  <div class="column pink"><img src="img/3.jpg"><div class="centered"><a href="tw">Tweet Sentiment</div></a></img></div>
</section> -->

<!-- <section>
  <div class="column yellow"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo-704977.jpeg"/></div>
  <div class="column orange"><img src="https://images.pexels.com/photos/157920/woman-face-curly-hair-157920.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"/></div>
  <div class="column blue-red"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/fashionable-girl-in-glasses-in-the-black-pants-157886.jpeg"/></div>
  <div class="column gold"><img src="https://images.pexels.com/photos/9137/night-vintage-music-bokeh.jpg?h=350&auto=compress"/></div>
</section> -->
<!-- Images from https://www.pexels.com/
 Extra special thanks to Collins for kicking off this
 wonderful trend. http://www.wearecollins.com/work/spotify/
-->


<form class="form-style-7" method="POST">
<ul>
<li>
    <input type="text" name="text" maxlength="100">
    <span>Tweet ID</span>
</li>
<li>
    <input type="submit" value="Submit" >
</li>
</ul>
</form>
